.grid {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.body-blog {
    display: grid;
    grid-template-columns: 25% auto;
    height: 100%;
}

.form-blog {
    padding: 30px;
}

.load-blog {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.sidebar-blog {
padding: 10px
}

.content-blog {
    padding: 30px;
    padding-top: 10px;
    overflow: scroll;
}

.footer-blog {
}