.grid {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.body-blog {
    display: grid;
    grid-template-columns: 25% auto;
    height: 100%;
}

.form-blog {
    padding: 30px;
}
.header-blog {
}

.sidebar-blog {
}

.content-blog {
    padding: 30px;
}

.footer-blog {
}